{% extends 'blog/base.html' %}
{% block content %}
<!-- Illustrator -->


    Przestrzeń robocza (preferencje, panele, narzędzia, obszar ilustracji, obszar roboczy, rodzaje podglądów)
    Struktura dokumentu (linie pomocnicze, siatki, miarki, jednostki miar, artboardy, warstwy)
    Rysowanie prostych kształtów (narzędzia rysowania, skróty klawiaturowe)
    Rysowanie prostych kształtów (narzędzia rysowania, skróty klawiaturowe)
    Zaznaczanie, grupowanie (narzędzia zaznaczania, techniki zaznaczania, tryb izolacji, rozmieszczanie obiektów)
    Edytowanie kształtów (zmiana konturów na obiekty, edytowanie segmentów ścieżki, łączenie ścieżek, tryby kształtów, panel Odnajdywanie ścieżek (Pathfinder)
    Transformacje obiektów (skalowanie, obracanie, odbijanie, zniekształcanie, efekty transformacji)
    Rysowanie krzywych Beziera (ścieżki, edycja punktów, narzędzie pióro, ołówek, gładzik, gumka)
    Trasowanie (polecenie Aktywny Obrys (Live Trace)
    Tworzenie koloru (modele koloru, próbki, wzornik kolorów (Color Guide), książki kolorów, panel Kuler, edycja kolorów)
    Gradienty (tworzenie i edycja)
    Pędzle (nadawanie, edycja, tworzenie) i narzędzie Kropla (Blob Brush)
    Efekty (rodzaje efektów, tworzenie, edycja, ustawienia podglądu, eksport)
    Style graficzne obiektu (tworzenie, edytowanie, stosowanie, kopiowanie)
    Praca z tekstem (różne rodzaje tekstu, formatowanie, style tekstowe, łamanie, glify, tekst na ścieżce, deformacje tekstu)
    Drukowanie i eksportowanie (przestrzenie barwne, profile kolorystyczne, kolory dodatkowe, ekranowe próby koloru, podgląd separacji barwnych, nadrukowanie (overprint), formaty plików, eksportowanie pliku PDF i EPS)
    Współpraca z programem Adobe Acrobat® (sprawdzanie poprawności pliku do druku ­ panele Preflight, Output Preview)
{% endblock content %}
